body {
  border: 2px rgb(180, 178, 178) solid;
}
.nav {
  display: grid;
  height: 40px;
  background-color: rgb(105,105,105); 
  grid-template-columns: 2fr repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  color: #fff;
}
.logo{
  grid-column-start: 1;
  grid-column-end: 1;
  float: left;
}
.home {
  grid-column-start: 2;
  grid-column-end: 3;
}
.QuemSomos {
  grid-column-start: 3;
  grid-column-end: 4;
}
.Servicos {
  grid-column-start: 4;
  grid-column-end: 5;
}
.Contato {
  grid-column-start: 5;
  grid-column-end: 6;
}
.conteiner{
  display: grid;
  height: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 30px;
  justify-content: center;
  grid-column-gap: 10px;
}

.Postagem1 {
  background-color: rgb(105,105,105); 
  height: 200px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Postagem2 {
  background-color: rgb(105,105,105); 
  height: 200px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Postagem3 {
  background-color: rgb(105,105,105); 
  height: 200px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item {
  display: grid;
  height: 80%;
  margin-top: 200px;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr) 150px;
  grid-template-rows: repeat(3, 1fr) 20px;
  grid-row-gap: 10px;
  justify-content: center;
  grid-column-gap: 10px;
}
.item1{
  height: 50px;
  background-color: rgb(211,211,211);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item2{
  height: 50px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item3{
  height: 50px;
  background-color: rgb(211,211,211);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item4{
  height: 50px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item5{
  height: 50px;
  background-color: rgb(211,211,211);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.item6{
  height: 50px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item7{
  height: 50px;
  background-color: rgb(211,211,211);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item8{
  height: 50px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item9{
  height: 50px;
  background-color: rgb(211,211,211);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item10{
  height: 50px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.item11{
  height: 50px;
  background-color: rgb(211,211,211);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.item12{
  height: 50px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.item13{
  height: 150px;
  border: 2px solid rgb(105,105,105); ;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item14{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
}

footer {
  background-color: rgb(105,105,105); 
  text-align: center; 
  padding: 15px;
  color: #fff;
}